In [1]:
# Imports
import pandas as pd
from glob import glob
from datetime import datetime, date, time, timedelta

In [2]:
# Read data files
list_of_data_files = glob('../data/*.txt')
list_of_data_files

['../data/turnstile_190330.txt',
 '../data/turnstile_190518.txt',
 '../data/turnstile_190525.txt',
 '../data/turnstile_190323.txt',
 '../data/turnstile_190309.txt',
 '../data/turnstile_190420.txt',
 '../data/turnstile_190427.txt',
 '../data/turnstile_190601.txt',
 '../data/turnstile_190406.txt',
 '../data/turnstile_190413.txt',
 '../data/turnstile_190511.txt',
 '../data/turnstile_190504.txt',
 '../data/turnstile_190316.txt',
 '../data/turnstile_190302.txt']

In [3]:
# Read data files into pandas dataframes
list_of_dataframes = [pd.read_csv(file, parse_dates=['DATE']) for file in list_of_data_files]
df = pd.concat(list_of_dataframes)
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,00:00:00,REGULAR,6989774,2370411
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,04:00:00,REGULAR,6989795,2370413
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,08:00:00,REGULAR,6989813,2370436
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,12:00:00,REGULAR,6989924,2370512
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,16:00:00,REGULAR,6990200,2370573

In [6]:
df.columns = [x.strip() for x in df.columns]
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [ ]:
# Add a weekday column
df['WEEKDAY'] = df.apply(lambda row: row['DATE'].weekday(), axis=1)
df.head()

In [16]:
df.STATION.unique()

array(['59 ST', '57 ST-7 AV', '49 ST', 'TIMES SQ-42 ST',
       '34 ST-HERALD SQ', '28 ST', '23 ST', '8 ST-NYU', 'PRINCE ST',
       'CITY HALL', 'RECTOR ST', 'BOWERY', 'CHAMBERS ST', 'PROSPECT PARK',
       'CHURCH AV', 'BEVERLEY ROAD', 'CORTELYOU RD', 'AVENUE H',
       'AVENUE J', 'AVENUE M', 'KINGS HWY', 'NECK RD', 'BRIGHTON BEACH',
       'OCEAN PKWY', 'BOROUGH HALL', 'JAY ST-METROTEC', 'DEKALB AV',
       'ATL AV-BARCLAY', 'UNION ST', '4AV-9 ST', 'PROSPECT AV', '25 ST',
       '45 ST', '53 ST', 'BAY RIDGE AV', '77 ST', '86 ST',
       'BAY RIDGE-95 ST', '50 ST', '55 ST', '71 ST', '79 ST', '18 AV',
       '20 AV', 'W 8 ST-AQUARIUM', '6 AV', '3 AV', '1 AV', 'BEDFORD AV',
       'GRAHAM AV', 'GRAND ST', 'MONTROSE AV', 'MORGAN AV',
       'JEFFERSON ST', 'MYRTLE-WYCKOFF', 'HALSEY ST', 'WILSON AV',
       'BUSHWICK AV', 'ATLANTIC AV', 'CYPRESS HILLS', '75 ST-ELDERTS',
       '85 ST-FOREST PK', 'WOODHAVEN BLVD', '104 ST', '121 ST',
       'METROPOLITAN AV', '190 ST', '175 ST', '168 ST', '145 ST',
       '125 ST', '96 ST', '72 ST', '59 ST COLUMBUS', '42 ST-PORT AUTH',
       '34 ST-PENN STA', 'SPRING ST', 'CANAL ST', 'WORLD TRADE CTR',
       'HIGH ST', 'HOYT-SCHER', 'CLINTON-WASH AV', 'NOSTRAND AV',
       'KINGSTON-THROOP', 'BROADWAY JCT', 'EUCLID AV', 'GRANT AV',
       'OZONE PK LEFFRT', 'AQUEDUCT RACETR', 'HOWARD BCH JFK',
       'BEACH 67 ST', 'BEACH 60 ST', 'BEACH 44 ST', 'BEACH 36 ST',
       'BEACH 25 ST', 'FAR ROCKAWAY', '167 ST', '174-175 STS',
       '182-183 STS', 'FORDHAM RD', 'LEXINGTON AV/53', 'COURT SQ-23 ST',
       'STEINWAY ST', 'JKSN HT-ROOSVLT', 'ELMHURST AV', 'GRAND-NEWTOWN',
       '63 DR-REGO PARK', '67 AV', '75 AV', 'BRIARWOOD', 'PARSONS BLVD',
       '169 ST', 'JAMAICA 179 ST', 'COURT SQ', 'GREENPOINT AV',
       'NASSAU AV', 'BEDFORD-NOSTRAN', 'CLASSON AV', 'FULTON ST',
       '47-50 STS ROCK', '42 ST-BRYANT PK', '14 ST', '2 AV',
       'EAST BROADWAY', 'CARROLL ST', 'SMITH-9 ST', '4 AV-9 ST',
       'AVENUE P', 'AVENUE X', 'LEXINGTON AV/63', 'ROOSEVELT ISLND',
       '21 ST-QNSBRIDGE', 'SUTPHIN-ARCHER', 'JAMAICA CENTER', 'WALL ST',
       'PARK PLACE', 'CHRISTOPHER ST', '18 ST', '181 ST', '191 ST',
       'DYCKMAN ST', '207 ST', '215 ST', 'MARBLE HILL-225', '231 ST',
       'V.CORTLANDT PK', 'BOWLING GREEN', 'BROOKLYN BRIDGE',
       'BLEECKER ST', 'GRD CNTRL-42 ST', '51 ST', '110 ST',
       '138/GRAND CONC', '149/GRAND CONC', '170 ST', 'MT EDEN AV',
       '176 ST', 'BURNSIDE AV', '183 ST', 'BEDFORD PK BLVD', 'WOODLAWN',
       'CENTRAL PK N110', '135 ST', 'HARLEM 148 ST', '3 AV-149 ST',
       'WHITLOCK AV', 'MORISN AV/SNDVW', 'ST LAWRENCE AV',
       'CASTLE HILL AV', 'WESTCHESTER SQ', 'PELHAM BAY PARK', '5 AVE',
       'VERNON-JACKSON', 'QUEENSBORO PLZ', '39 AV', '36 AV', 'BROADWAY',
       '30 AV', 'ASTORIA DITMARS', '33 ST-RAWSON ST', '40 ST LOWERY ST',
       '46 ST BLISS ST', '74 ST-BROADWAY', '82 ST-JACKSON H',
       '90 ST-ELMHURST', 'JUNCTION BLVD', '103 ST-CORONA', '111 ST',
       'FLUSHING-MAIN', '34 ST-HUDSON YD', 'CLARK ST', 'HOYT ST',
       'NEVINS ST', 'BERGEN ST', 'GRAND ARMY PLAZ', 'EASTN PKWY-MUSM',
       'FRANKLIN AV', 'KINGSTON AV', 'CROWN HTS-UTICA', 'SUTTER AV-RUTLD',
       'SARATOGA AV', 'ROCKAWAY AV', 'JUNIUS ST', 'PENNSYLVANIA AV',
       'VAN SICLEN AV', 'NEW LOTS AV', 'PRESIDENT ST', 'STERLING ST',
       'BEVERLY RD', 'GUN HILL RD', 'ST. GEORGE', 'ORCHARD BEACH',
       'ASTORIA BLVD', '14 ST-UNION SQ', 'CORTLANDT ST',
       'WHITEHALL S-FRY', 'DELANCEY/ESSEX', 'BROAD ST', '7 AV',
       'BOTANIC GARDEN', 'PARKSIDE AV', 'NEWKIRK PLAZA', 'AVENUE U',
       'SHEEPSHEAD BAY', '36 ST', '8 AV', 'FT HAMILTON PKY',
       'NEW UTRECHT AV', 'BAY PKWY', '9 AV', '25 AV', 'BAY 50 ST',
       'CONEY IS-STILLW', 'LORIMER ST', 'SUTTER AV', 'LIVONIA AV',
       'NEW LOTS', 'EAST 105 ST', 'CANARSIE-ROCKAW', 'JFK JAMAICA CT1',
       'MARCY AV', 'HEWES ST', 'FLUSHING AV', 'MYRTLE AV',
       'KOSCIUSZKO ST', 'GATES AV', 'CHAUNCEY ST', 'ALABAMA AV',
       'CLEVELAND ST', 'NORWOOD AV', 'CRESCENT ST', 'CENTRAL AV',
       'KNICKERBOCKER', 'SENECA AVE', 'FOREST AVE', 'FRESH POND RD',
       'INWOOD-207 ST', '163 ST-AMSTERDM', '155 ST', '116 ST',
       'CATHEDRAL PKWY', '103 ST', '81 ST-MUSEUM', 'W 4 ST-WASH SQ',
       'LAFAYETTE AV', 'UTICA AV', 'RALPH AV', 'LIBERTY AV',
       'VAN SICLEN AVE', 'SHEPHERD AV', '80 ST', '88 ST', 'ROCKAWAY BLVD',
       'AQUEDUCT N.COND', 'BROAD CHANNEL', 'BEACH 90 ST', 'BEACH 98 ST',
       'BEACH 105 ST', 'ROCKAWAY PARK B', 'TREMONT AV', 'KINGSBRIDGE RD',
       'NORWOOD 205 ST', 'QUEENS PLAZA', '46 ST', 'NORTHERN BLVD',
       '65 ST', 'FOREST HILLS 71', 'SUTPHIN BLVD', '21 ST',
       'MYRTLE-WILLOUGH', "B'WAY-LAFAYETTE", 'YORK ST', 'DITMAS AV',
       'AVENUE I', 'AVENUE N', 'NEPTUNE AV', '57 ST', 'JAMAICA VAN WK',
       '72 ST-2 AVE', '86 ST-2 AVE', '96 ST-2 AVE', 'SOUTH FERRY',
       'WTC-CORTLANDT', 'FRANKLIN ST', 'HOUSTON ST', '66 ST-LINCOLN',
       '116 ST-COLUMBIA', '137 ST CITY COL', '157 ST', '238 ST',
       'ASTOR PL', '33 ST', '68ST-HUNTER CO', 'MOSHOLU PKWY',
       'JACKSON AV', 'INTERVALE AV', 'SIMPSON ST', 'FREEMAN ST', '174 ST',
       'WEST FARMS SQ', 'E 180 ST', 'BRONX PARK EAST', 'PELHAM PKWY',
       'ALLERTON AV', 'BURKE AV', '219 ST', '225 ST', '233 ST',
       'NEREID AV', 'WAKEFIELD/241', '3 AV 138 ST', 'BROOK AV',
       'CYPRESS AV', "E 143/ST MARY'S", 'E 149 ST', 'LONGWOOD AV',
       'HUNTS POINT AV', 'ELDER AV', 'PARKCHESTER', 'ZEREGA AV',
       'MIDDLETOWN RD', 'BUHRE AV', 'HUNTERS PT AV', '52 ST',
       '61 ST WOODSIDE', '69 ST', 'METS-WILLETS PT', 'WINTHROP ST',
       'NEWKIRK AV', 'FLATBUSH AV-B.C', 'MORRIS PARK', 'BAYCHESTER AV',
       'EASTCHSTER/DYRE', 'RIT-MANHATTAN', 'RIT-ROOSEVELT',
       'JOURNAL SQUARE', 'NEWARK HM HE', 'PAVONIA/NEWPORT'], dtype=object)

In [7]:
# Filter data to daylight hours
times = ['12:00:00', '16:00:00', '20:00:00']
df = df[df['TIME'].isin(times)]

In [8]:
df.head(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,12:00:00,REGULAR,6989924,2370512
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,16:00:00,REGULAR,6990200,2370573
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,20:00:00,REGULAR,6990562,2370623
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-24,12:00:00,REGULAR,6990860,2370731
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-24,16:00:00,REGULAR,6991054,2370788
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-24,20:00:00,REGULAR,6991295,2370839
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-25,12:00:00,REGULAR,6991651,2371197
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-25,16:00:00,REGULAR,6991935,2371230
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-25,20:00:00,REGULAR,6992684,2371283
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-26,12:00:00,REGULAR,6993111,2371709

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,WEEKDAY
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,12:00:00,REGULAR,6989924,2370512,5
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,16:00:00,REGULAR,6990200,2370573,5
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,20:00:00,REGULAR,6990562,2370623,5
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-24,12:00:00,REGULAR,6990860,2370731,6
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-24,16:00:00,REGULAR,6991054,2370788,6

In [11]:
# Calculate the differences between rows for entries and exits
df['EXIT_COUNT'] = df['EXITS'] - df['EXITS'].shift(1)

In [12]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,WEEKDAY,EXIT_COUNT
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,12:00:00,REGULAR,6989924,2370512,5,NaN
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,16:00:00,REGULAR,6990200,2370573,5,61.0
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,20:00:00,REGULAR,6990562,2370623,5,50.0
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-24,12:00:00,REGULAR,6990860,2370731,6,108.0
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-24,16:00:00,REGULAR,6991054,2370788,6,57.0

In [ ]:
gd = df.groupby(['STATION', 'WEEKDAY', 'TIME'], as_index=False).count()

In [ ]:
gd.head()