In [8]:
# Imports
import pandas as pd
from glob import glob
from datetime import datetime, date, time, timedelta

In [4]:
# Read data files
list_of_data_files = glob('../data/*.txt')
list_of_data_files

['../data/turnstile_190330.txt',
 '../data/turnstile_190518.txt',
 '../data/turnstile_190525.txt',
 '../data/turnstile_190323.txt',
 '../data/turnstile_190309.txt',
 '../data/turnstile_190420.txt',
 '../data/turnstile_190427.txt',
 '../data/turnstile_190601.txt',
 '../data/turnstile_190406.txt',
 '../data/turnstile_190413.txt',
 '../data/turnstile_190511.txt',
 '../data/turnstile_190504.txt',
 '../data/turnstile_190316.txt',
 '../data/turnstile_190302.txt']

In [10]:
# Read data files into pandas dataframes
list_of_dataframes = [pd.read_csv(file, parse_dates=['DATE', 'TIME']) for file in list_of_data_files]
df = pd.concat(list_of_dataframes)
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,2019-09-23 00:00:00,REGULAR,6989774,2370411
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,2019-09-23 04:00:00,REGULAR,6989795,2370413
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,2019-09-23 08:00:00,REGULAR,6989813,2370436
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,2019-09-23 12:00:00,REGULAR,6989924,2370512
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-03-23,2019-09-23 16:00:00,REGULAR,6990200,2370573

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2857148 entries, 0 to 203188
Data columns (total 11 columns):
C/A                                                                     object
UNIT                                                                    object
SCP                                                                     object
STATION                                                                 object
LINENAME                                                                object
DIVISION                                                                object
DATE                                                                    object
TIME                                                                    object
DESC                                                                    object
ENTRIES                                                                 int64
EXITS                                                                   int64
dtypes: int64(2), object(9)
memory usage: 261.6+ MB